body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;

    background-color: #15151a;
    opacity: 1;
    background-image:  linear-gradient(30deg, #4c6168 12%, transparent 12.5%, transparent 87%, #4c6168 87.5%, #4c6168), linear-gradient(150deg, #4c6168 12%, transparent 12.5%, transparent 87%, #4c6168 87.5%, #4c6168), linear-gradient(30deg, #4c6168 12%, transparent 12.5%, transparent 87%, #4c6168 87.5%, #4c6168), linear-gradient(150deg, #4c6168 12%, transparent 12.5%, transparent 87%, #4c6168 87.5%, #4c6168), linear-gradient(60deg, #4c616877 25%, transparent 25.5%, transparent 75%, #4c616877 75%, #4c616877), linear-gradient(60deg, #4c616877 25%, transparent 25.5%, transparent 75%, #4c616877 75%, #4c616877);
    background-size: 56px 98px;
    background-position: 0 0, 0 0, 28px 49px, 28px 49px, 0 0, 28px 49px;

    user-select: none;  /*evita que o usuario selecione os cards*/
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient( 
        0deg,  
        rgba(15,2,2,1) 15%, 
        rgba(36,163,190,1) 60.1%,
        rgba(15,2,2,1) 85%
         );
    padding: 40px 60px;

}

h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    padding: 15px 20px;
    width: 100%;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:focus{
    color: #ec38bc;
    background-color: rgba(15,2,2,1);
}

.game{
    width: 430px;
    height: 430px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    font-size: 4em;
    transform: rotateY(180deg);
    transition: 0.5s;
}

.item::after{
    content: "";    /*define o conteudo vazio*/
    position: absolute; 
    inset: 0;   /*define a posição na face do card*/
    background: #404040;
    transition: 0.5s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
}